.hero {
    padding: 60px 0;
    width: 100%;
    height: 100vh;
    background: #fff8f0;
    position: relative;
    overflow: hidden;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    z-index: 2;
}

.hero-text {
    max-width: 520px;
}

.hero-text h1 {
    font-size: 3.4rem;
    line-height: 1.1;
}

.hero-text h1 b {
    color: #6f4e37;
}

.hero-text h3 {
    margin: 14px 0;
    color: #a67853;
}

.hero-text p {
    margin: 14px 0 24px;
    color: #555;
    font-size: 14px;
}

.hero-text button {
    padding: 12px 34px;
    background: #6f4e37;
    color: #fff;
    border-radius: 2rem;
    font-size: 15px;
    transition: .3s;
}
.hero-text button:hover{
    scale: .9;
}
/* coffee image */

.hero-coffee-wrapper {
    position: relative;
    width: 420px;
    height: 420px;
    flex-shrink: 0;
}

.hero-coffee {
    width: 450px;
    position: relative;
    z-index: 3;
    filter: drop-shadow(0 18px 25px rgba(111, 78, 55, .35));
}

/* shapes */

.bg-shape {
    position: absolute;
    z-index: 1;
    pointer-events: none;
}

.bg-shape-1 {
    width: 520px;
    height: 420px;
    background: #ecd2b5;
    top: -120px;
    left: -150px;
    border-radius: 40% 60% 55% 45% / 55% 40% 60% 45%;
    transform: rotate(-18deg);
}

.bg-shape-2 {
    width: 620px;
    height: 220px;
    background: #f7ab55;
    bottom: -80px;
    right: -160px;
    clip-path: polygon(20% 0%,
            100% 20%,
            80% 100%,
            0% 80%);
    opacity: 0.18;
}

.bg-shape-3 {
    width: 300px;
    height: 300px;
    background: #a67853;
    bottom: 35%;
    right: 25%;
    clip-path: polygon(20% 0%,
            100% 20%,
            80% 100%,
            0% 80%);
    opacity: 0.15;
    transform: rotate(25deg);
}