*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    caret-color: transparent;
}

html{
    font-size: 18px;
}

img,
.navbar,
.hero{
    user-select: none;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    border: none;
    cursor: pointer;
}

.container{
    width: 85%;
    margin: auto;
}