.navbar{
    background: white;
    padding: 16px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
}

.nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 700;
    letter-spacing: 1px;
}
.logo span{
    color: #6f4e37;
}

.nav-links{
    display: flex;
    gap: 24px;
    list-style: none;
}

.nav-links li{
    cursor: pointer;
    font-weight: 500;
}
.nav-links li:hover{
    text-decoration: underline;
}

.btn{
    background: #6f4e37;
    padding: 12px 35px;
    border-radius: 2rem;
    color: #fff;
    font-size: 15px;
}

.btn:hover{
    background: #492e1f;
}