.product-card{
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    text-align: center;
}

.product-card img{
    width: 100%;
    border-radius: 12px;
}

.product-card button{
    margin-top: 10px;
    background: #ff4d4d;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    transition: .3s;
}

.product-card button:hover{
    scale: .9;
}