.navbar{
    background: white;
    padding: 10px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.nav-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo span{
    color: #b30000;
}

.nav-links{
    display: flex;
    gap: 24px;
    list-style: none;
}

.btn{
    background: #000;
    padding: 12px 35px;
    border-radius: 2rem;
    color: #fff;
    font-size: 15px;
    transition: .3s;
}

.btn:hover{
    scale: .9;
}